@import 'jeet/framework'
@import 'jeet/goodies'
@import 'jeet/typography'

@font-face
  font-family 'Conv_TradeGothicLTStd-Light'
  src url('TradeGothicLTStd-Light.eot')
  src local('x'), url('TradeGothicLTStd-Light.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_TradeGothicLTStd-Bold'
  src url('TradeGothicLTStd-Bold.eot')
  src local('x'), url('TradeGothicLTStd-Bold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_TradeGothicLTStd-Cn18'
  src url('TradeGothicLTStd-Cn18.eot')
  src local('x'), url('TradeGothicLTStd-Cn18.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_TradeGothicLTStd-Bd2'
  src url('TradeGothicLTStd-Bd2.eot')
  src local('x'), url('TradeGothicLTStd-Bd2.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_TradeGothicLTStd-BdCn20'
  src url('TradeGothicLTStd-BdCn20.eot')
  src local('x'), url('TradeGothicLTStd-BdCn20.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_TradeGothicLTStd'
  src url('TradeGothicLTStd.eot')
  src local('x'), url('TradeGothicLTStd.ttf') format('truetype')
  font-weight normal
  font-style normal


// Mobile
bp()
endbp()

body
  background #020203 url(../images/bg_vert.png) repeat-x

#bg
  background url(../images/bg.jpg) no-repeat 0 0
  center()
  height 850px

header, section, footer
  > div
    center()

header
  height 72px
  margin-top 30px
  margin-bottom 23px
  div.logoLt
    border-bottom solid 1px #939598
    col(1)
    height 72px
  div.logoRt
    border-bottom solid 1px #939598
    col(1)
    height 72px
    margin-right 0

#logo
  col(2)
  height 95px

#tagline
  border-bottom solid 1px #939598
  col(14)
  height 72px
  padding-top 42px
  margin-right 0

nav
  border-bottom solid 1px #939598
  col(6)
  height 30px
  margin-top 42px
  a
    background url(../images/sprite.png) no-repeat 0 0
    display block
    float left
    height 17px
    margin-right 7px
    width 17px
    &.off
      background-position -25px -25px
      &:hover
        background-position -50px -50px

section
  > div
    col(17)
    height 429px
    margin-top 145px
    offset(3)
    a
      color #f36e21
      whitespace no-wrap
      &:hover
        color #fff

footer
  > div
    col(24)
    center()
    text-align center
    > p
      border-top solid 1px #939598
      padding-top 31px
      span
        whitespace nowrap

.rt
  col(4)

h1
  font-family 'Conv_TradeGothicLTStd-Bold'
  font-size 56px
  font-weight normal

h2
  font-family 'Conv_TradeGothicLTStd-Light'
  font-size 30px
  font-weight normal
  margin-top 42px
  strong
    font-family 'Conv_TradeGothicLTStd-Bold'
    font-weight normal

h3
  text-align center
  font-size 20px
  font-weight normal
  strong
    font-weight bold 

.fontTest01
  font-family 'Conv_TradeGothicLTStd-Light'
.fontTest02
  font-family 'Conv_TradeGothicLTStd-Bold'
.fontTest03
  font-family 'Conv_TradeGothicLTStd-Cn18'
.fontTest04
  font-family 'Conv_TradeGothicLTStd-Bd2'
.fontTest05
  font-family 'Conv_TradeGothicLTStd-BdCn20'
.fontTest06
  font-family 'Conv_TradeGothicLTStd'
