@import 'jeet/normalize.css';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("js/vendor/boxsizing.htc");
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.placeholder {
  color: #aaa;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}
.last {
  margin-right: 0;
}
body {
  *zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.center {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.center:before,
.center:after {
  content: "";
  display: table;
}
.center:after {
  clear: both;
}
.chromeframe {
  width: 100%;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background: -o-linear-gradient(top, #fff 0%, #eee 100%);
  background: -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background: linear-gradient(top, #fff 0%, #eee 100%);
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}
.chromeframe p {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 0;
}
.chromeframe p:before,
.chromeframe p:after {
  content: "";
  display: table;
}
.chromeframe p:after {
  clear: both;
}
.chromeframe p a {
  color: #3a95fb;
}
html {
  font-size: 18px;
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.25em;
}
p {
  margin-top: 0;
  margin-bottom: 36px;
}
a {
  color: #3a95fb;
}
a img {
  display: block;
}
a:hover {
  color: #056ee3;
}
input,
textarea {
  color: #000;
}
@media screen and (max-width: 705px), (max-device-width: 705px) {
}
body {
  background: #020203 url("../images/bg_vert.png") repeat-x;
}
#bg {
  background: url("../images/bg.jpg") no-repeat 0 0;
}
h1 {
  font-family: 'TradeGothicW01-BoldCn20 675334';
/*
  font-family:'Trade Gothic W01 Bold 2';
  font-family:'Trade Gothic W01 Bold';
  font-family:'Trade Gothic W01 Light';
  font-family:'TradeGothicW01-LightObl';
  font-family:'Trade Gothic W01 Roman';
  font-family:'Trade Gothic W01 Obl';
  font-family:'TradeGothicW01-BoldObl';
  font-family:'TradeGothicW01-Bold2Obl';
  font-family:'Trade Gothic W01 Cn 18';
  font-family:'TradeGothicW01-Cn18Obl';
  font-family:'TradeGothicW01-BoldCn20 675337';
  font-family:'TradeGothicW01-Extended';
  font-family:'TradeGothicW01-BoldExte';
  */
  font-size: 54px;
}
