# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# exclude patterns (uncomment them if you want to use them):
.DS_Store
*.pyc
*.pyo
*.styl
*.tgz
*.[oa]
*~
.*~
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
.*.swp
*.swp
*.o
*.db
*.pid 
applet 
personal.py
_templates
_build
_static
build
dist
*.dmg
*.log
*.log.[0-9]*
roastlog-[a-f0-9]
rl.*.css
rl.css
qrc_resources.py
db/mongodb/tmp
db/snapshots

