html
    font-size base_font_size
    line-height 1.5
    font-family Arial, "Helvetica Neue", Helvetica, sans-serif
    color #fff
h1, h2, h3, h4, h5, h6
    line-height 1.1
    margin-top 0
    margin-bottom 0 
p
    margin-top 0
    margin-bottom base_font_size * 2
a
    color link_color
    img
        display block
    &:hover
        color #f36e21
    text-decoration none
input, textarea
    color #000
